<h2>{{ title}} </h2>
<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" class="form">
  <mat-form-field
    class="mat-form-field mat-form-field--description"
    hintLabel="Max 600 characters"
    floatLabel="always"
  >
    <mat-label>Description</mat-label>
    <input
      matInput
      #comment
      formControlName="comment"
      maxlength="600"
      required
    />
    <mat-hint align="end">{{ comment.value?.length || 0 }}/600</mat-hint>
  </mat-form-field>

  <mat-form-field
    class="mat-form-field mat-form-field--nature"
    hintLabel="Max 120 characters"
    floatLabel="always"
  >
    <mat-label>Catégorie</mat-label>
    <input matInput #nature formControlName="nature" maxlength="120" required />
    <mat-hint align="end">{{ nature.value?.length || 0 }}/120</mat-hint>
  </mat-form-field>

  <mat-form-field
    floatLabel="always"
    class="mat-form-field mat-form-field--small"
  >
    <mat-label>Date de paiement</mat-label>
    <input
      [matDatepicker]="picker"
      matInput
      formControlName="purchasedOn"
      required
      [max]="tomorrow"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div formGroupName="originalAmount" class="mat-form-group">
    <mat-form-field
      floatLabel="always"
      class="mat-form-field mat-form-field--small"
    >
      <mat-label>Montant</mat-label>
      <input type="number" matInput formControlName="amount" required />
    </mat-form-field>

    <mat-form-field
      class="mat-form-field mat-form-field--small"
      floatLabel="always"
    >
      <mat-label>Devise</mat-label>
      <mat-select formControlName="currency" required>
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!expenseForm.valid"
    mat-dialog-close
  >
    Valider
  </button>

  <button *ngIf='data' mat-raised-button color="warn" type="button" mat-dialog-close (click)="delete()">
    Supprimer
  </button>

  <button mat-raised-button  type="button" mat-dialog-close>
    Annuler
  </button>

  

</form>
