table {
  width: 100%;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

tr {
  height: 2rem;
}

tr:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

thead {
  background-color: lightgray;
}

thead>tr:hover {
  background-color: lightgray;
}

thead>tr>th:hover {
  font-weight: 700;
  background-color: rgb(245, 245, 245);
}

td {
  padding-left: 20px
}

.addButton {
  float: right;
}

.smallColumn {
  width: 7rem;
  text-align: center;
}

.mediumColumn {
  width: 20rem;

}

.text--right {
  text-align: right;
}