<button mat-raised-button color="accent" (click)="openDialog()">
  Ajouter une note de frais
</button>

<table>
  <thead>
    <tr>
      <th>Payé le</th>
      <th>Catégorie</th>
      <th>Description</th>
      <th>Montant</th>
      <th>Devise</th>
      <th>Montant (€)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses$ | async" (click)="openDialog(expense)">
      <td>{{ expense.purchasedOn | date: "dd/MM/yy" }}</td>
      <td>{{ expense.nature }}</td>
      <td>{{ expense.comment }}</td>
      <td>{{ expense.originalAmount.amount }}</td>
      <td>{{ expense.originalAmount.currency }}</td>
      <td>{{ expense.convertedAmount.amount | currency: "EUR":"symbol" }}</td>
    </tr>
  </tbody>
</table>