<button
  class="addButton"
  mat-raised-button
  color="accent"
  (click)="openDialog()"
>
  Ajouter une note de frais
</button>
<table>
  <thead>
    <tr>
      <th *ngFor="let title of thead" [value]="title.key">{{ title.value }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses$ | async" (click)="openDialog(expense)">
      <td class="smallColumn">{{ expense.purchasedOn | date: "dd/MM/yy" }}</td>
      <td class="mediumColumn">{{ expense.nature }}</td>
      <td>{{ expense.comment }}</td>
      <td class="smallColumn">{{ expense.originalAmount.amount }}</td>
      <td class="smallColumn">{{ expense.originalAmount.currency }}</td>
      <td class="smallColumn text--right">
        {{ expense.convertedAmount.amount | currency: "EUR":"symbol" }}
      </td>
    </tr>
  </tbody>
</table>
